body {
  background-color: white;  /* ändrar bakgrund */
}
.header-Wrapper{
  text-align: center;
}
/* här refererar vi till classen som vi skapat i html */
.text-wrapper {
  <!--margin: 0 auto;-->
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
.text-wrapper img{
  max-width: 100%;
}

img:hover{
  width: 40%;
}

