body {
  background-color: white;  /* ändrar bakgrund */
}
.header-Wrapper{
  text-align: center;
  font-size: 100px;
  margin-bottom: 1px;
}
/* här refererar vi till classen som vi skapat i html */
.text-wrapper {
  /*margin: 0 auto;*/
  margin-top: 5px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
/*
.img:hover{
  width: 40%;
  transition: 2s;
}
*/


/* detta är classer för bilden*/
.image-wrapper{

  /*man använder .. för att komma ut ur den befintliga mappen och ut i rot mappen */
  background-image: url("../img/istockphoto-1324015132-2048x2048.jpg");
  width: 100%;
  height: 1000px;            /* eller valfri höjd */
  background-size: cover;   /* FYLLER div:en utan att sträckas */
  background-position: center; /* centrera motivet */
  background-repeat: no-repeat;
  border-radius: 8px;
}

.image-wrapper p{
  text-align: center;
  color: white;
  font-size: 50px;
}


.text-wrapper img{
  display: block;         /* tar bort inline-gap */
  width: 100%;            /* fyller hela text-wrapper minus padding */
  height: auto;           /* behåller proportionerna */
  margin-top: 20px;       /* valfritt, lite avstånd från text */
  border-radius: 8px;     /* valfritt, rundade hörn */
}




